.title{
color: white;
font-size: 90px;
border-bottom-style: dashed;
border-bottom-color: #2A0E84;
border-left-style: dashed;
border-left-color: #2A0E84;
border-right-style: dashed;
border-right-color: #2A0E84;
border-top-style: dashed;
border-top-color: #2A0E84;
background: #2A0E84;
}
.grid{
	display: grid;
	grid-template-columns: 500px 500px 500px 500px;
	grid-template-rows: 500px 500px 500px 500px;
}
body{
	background-image: url("https://images.squarespace-cdn.com/content/v1/52e1b262e4b06ef060506756/1442207734582-BPCLO3XE6YWRIMHGI357/ke17ZwdGBToddI8pDm48kIK8EMsVRqcwbHuh8CG_tY4UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcsRrek54n3B5Qw-7F8FFJI9J4e5nKTZbJssBDltymQ07TBTVg9LH-DtVoEqrjq2Hf/plastic_wave_blue.jpg?format=2500w");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.box{
	background-color: white;
	border-bottom-style: solid;
border-bottom-color: white;
border-left-style: solid;
border-left-color: white;
border-right-style: solid;
border-right-color: white;
border-top-style: solid;
border-top-color: white;
font-size:50px
}
.des{
	color: white;
}
img{
	width: 450px;
	size:50%px;
	
}
header{
	font-size: 50px;
	color: #F7D219;
	margin-left: 300px;
}

.dropbtn{
	background-color: #86A3F3;
	color: black;
	padding: 16px;
	font-size: 16px;
	border:none;
}

.dropdown{
	position: relative;
	display: inline-block;
	width: 200px;
}
.dropdown-content a{
	color: white;
	padding: 12px 16px;
	display: block;
	text-decoration: none;
}
.dropdown-content a:hover {background-color:  #86A3F3;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color:  #86A3F3;}

.imgE{
	margin-bottom: 300px;
	margin-left: 160px;
	
}
.infoE{
	margin-bottom: 290px;
	
}
h2{
	background-color: white;
	border-bottom-style: solid;
border-bottom-color: white;
border-left-style: solid;
border-left-color: white;
border-right-style: solid;
border-right-color: white;
border-top-style: solid;
border-top-color: white;
font-size:20px;
margin-left: 200px
}
h3{
	font-size: 34px;
	background-color: white;
	border-bottom-style: solid;
border-bottom-color: white;
border-left-style: solid;
border-left-color: white;
border-right-style: solid;
border-right-color: white;
border-top-style: solid;
border-top-color: white;

}
.EER{
margin-bottom: 1200px;
}
.grid-e{
	display: grid;
	margin-left: 500px;
	grid-template-columns: 500px 500px;
	grid-template-rows: 500px 500px
}
.imgEE{
	size: 600px
}
.work-cited{
		display: grid;
	margin-left: 500px;
	grid-template-rows: 80px 80px 80px;
	grid-template-columns: 700px;
	color: white;
	background-color: black;
font-size:20px;
}
.site{
	background-color: black;
}


.grid-wsic{
	display: grid;
	grid-template-columns: 600px;
	grid-template-rows: 300px;
	color: black;
	background-color: white;
		margin-left: 800px;
	font-size:30px;
}
.summary{
	background-color: white;
}
.grid-sa{
	display: grid;
	grid-template-columns: 600px;
	grid-template-rows: 400px;
	color: black;
	margin-left: 800px;
	font-size:30px;
}
.word{
	background-color: white;
}
.grid-pif{
	display: grid;
	grid-template-columns: 600px;
	grid-template-rows: 400px;
	color: black;
	margin-left: 600px;
	font-size:30px;
}
.imgpif{
	
}
